body, html , .container-fluid{
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url('image/img.jpg');

    /* Half height */
    height: 77%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.EnjCook{
    font-family: 'Russo One', sans-serif;

}

.res_description{
    font-family: 'Noto Sans', sans-serif;
}

.recipes{
   font-size: 27px;

}


.fa-star{
    color: #CC8E15;
}

.recipeName{
    font-family: 'Pacifico', cursive;
    font-size: 55px;
color: black;

}
.hrr{
    text-align: center;
    width:250px;
  padding: 1px;
    background-color:black;
}



@media( max-device-width: 400px){
    #ll{
        position: fixed;!important;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}


/* .navbar-nav > li > a:hover, .navbar-item > li > a:focus {*/
/*    background-color: black!important;*/
/*    color: white!important;*/
/*}*/
