body, html , .container-fluid{
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url('image/img.jpg');

    /* Half height */
    height: 77%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.EnjCook{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Coda Caption', sans-serif;

}

.res_description{
    font-family: 'Noto Sans', sans-serif;
}

.recipes{
   font-size: 27px;

}

.step{
    font-size: 55px;
}

.fontGreat{
    font-family: 'Rye', cursive;
}

.fa-star-half-empty,.fa-star-o,.fa-star{
    color: #CC8E15;
}


.ul li{
float: none;
}
.recipeName{
    font-family: 'Pacifico', cursive;
    font-size: 55px;
color: black;

}
.hrr{
    text-align: center;
    width:250px;
  padding: 1px;
    background-color:black;
}



@media( max-device-width: 415px){
    #ll{
        position: fixed;!important;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .EnjCook{
        font-size: 25px;
        font-family:'Roboto Condensed', sans-serif;

    }
    .recipeName{
        margin-top: 70px;
        font-size: 30px;
    }

    .textCenter {
        width: 100% !important;
    }
}

.textCenter {
    width: 67%;
    margin: auto;
}

/* .navbar-nav > li > a:hover, .navbar-item > li > a:focus {*/
/*    background-color: black!important;*/
/*    color: white!important;*/
/*}*/
